{% extends 'base.html.twig' %}

{% block title %}Hello DesireController!{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Events
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">
        </div>
    </div>

    <div class="content-body">
        {{ component('DesireComponent', { desire: desire }) }}
    </div>
{% endblock %}
