{% extends 'base.html.twig' %}

{% block title %}Wünsche verschieben{% endblock %}

{% block body %}

    <div class="page-header">
        <div class="page-header-text">
            Wünsche verschieben
        </div>
        <div class="page-header-image">
            <i class="fa-solid fa-shuffle fa-lg me-3"></i>
        </div>
    </div>
{#    {{ component('Test') }}#}
    <div class="content-body py-3">
            <!-- Action Buttons -->
            <div class="row mb-4">
                <div class="col-12 col-md-auto mb-3 mb-md-0">
                    <a href="{{ path('app_desire_home') }}" class="btn btn-outline-secondary w-100">
                        <i class="fa-solid fa-globe me-2"></i> Zurück
                    </a>
                </div>
            </div>


            {% if showForm %}
            <!-- Form Component -->
            <div class="card shadow-sm p-4 bg-white rounded mb-4">
                {{ component('DesireCopyForm', {
                    initialFormData: initialFormData,
                    user: user,
                }) }}
            </div>

            <!-- Description Section -->
            <div class="description bg-dark p-4 shadow-sm rounded ">
                <h2 class="h4 mb-3 text-primary">
                    <i class="fa-solid fa-info-circle me-2"></i> Optionen
                </h2>
                <p class="mb-3">
                    <strong>Wunsch teilen:</strong> Der Wunsch ist gleichzeitig in beiden Listen. Editierst du ihn in der einen Liste, so wird die Änderung auch in der anderen Liste angezeigt. Reserviert jemand den Wunsch in der einen Liste, so ist er auch in der anderen reserviert.
                </p>
                <p class="mb-3">
                    <em>Beispiel:</em> Du möchtest einen neuen Rasierer bekommen. Dir ist egal, ob du ihn zum Geburtstag oder zum Namenstag bekommst. Aber du willst ihn nur einmal. Also sharest du ihn.
                </p>
                <hr class="text-light">
                <p class="mb-3">
                    <strong>Wunsch kopieren:</strong> Der Wunsch wird so wie er jetzt ist in die andere Liste kopiert. Ab jetzt existiert er zweimal. Änderungen in dem einen beeinflussen nicht den anderen Wunsch.
                </p>
                <p class="mb-3">
                    <em>Beispiel:</em> Du möchtest neue Einwegrasierer bekommen. Dir ist egal, ob du ihn zum Geburtstag oder zum Namenstag bekommst. Aber du kannst die Teile ohne Problem auch mehrfach gebrauchen. Also kopierst du ihn.
                </p>
                <hr class="text-light">
                <p class="mb-0">
                    <strong>Wunsch verschieben:</strong> Der Wunsch wird von der einen in die andere Liste verschoben. Ab jetzt existiert er nur in der als Ziel ausgewählten Liste.
                </p>
            </div>

            {% else %}
                <h2 class="h4 mb-3 text-primary">
                    <i class="fa-solid fa-question-circle me-2"></i> Weshalb steht hier nichts?
                </h2>
                <p class="mb-3">
                    Du bist momentan für kein Event angemeldet und hast keine Wunschlisten. Melde dich hier für ein Event an oder erstelle ein eigenes.
                </p>
            {% endif %}
        </div>
{% endblock %}