<div{{ attributes }} class="row">
    {% for event in this.events %}
        <div class="col-12 mb-3">
            {% set randomNumber = random(0, 10000) %}
            {{ component('Event:SecretSantaEventComponent', {
                key: 'test' ~ event.id ~ randomNumber,
                event: event,
                user: this.user
            }) }}
        </div>
    {% endfor %}
</div>