{% extends 'base.html.twig' %}

{% block title %}Event Dashboard{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Events
        </div>
        <div class="page-header-image">
            <i class="fa-solid fa-calendar-alt fa-lg me-3 text-secondary"></i>
        </div>
    </div>

    <div class="container py-2">
        <div class="card shadow bg-secondary">
            <div class="card-body bg-secondary">
                <!-- Action Buttons -->
                <div class="d-flex justify-content-start gap-2">
                    <a href="{{ path('app_home') }}" class="btn btn-outline-dark btn-small">
                        <i class="fa-solid fa-home btn-icon"></i>
                        <span class="btn-text">Zurück</span>
                    </a>
                    <a href="{{ path('app_event_create') }}" class="btn btn-success btn-small">
                        <i class="fa-solid fa-plus btn-icon"></i>
                        <span class="btn-text">Neues Event erstellen</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-2">
        <div class="card shadow">
            <div class="card-body">
                <!-- Informational Text -->
                <div class="text-center mb-4 bg-body-secondary p-3 rounded">
                    <p class="fs-6">
                        {% if filteredEvents|length == 0 %}
                            Hier werden alle Events von anderen Personen angezeigt, an denen du teilnehmen kannst. Momentan sind keine Events vorhanden.
                        {% else %}
                            Hier werden alle Events von anderen Personen angezeigt, an denen du teilnehmen kannst.
                        {% endif %}
                    </p>
                </div>

                {{ component('Event:SecretSantaEventListComponent', { events: filteredSecretSantaEvents, user: user }) }}
                {{ component('Event:EventListComponent', { events: filteredEvents, user: user }) }}
            </div>
        </div>
    </div>
{% endblock %}
