<!DOCTYPE html>
<html>
<head>
    <title>Hash Password Form</title>
</head>
<body>
<h1>Hash Password Form</h1>

{{ form_start(form) }}

{{ form_row(form.plainPassword) }}


{{ form_end(form) }}
</body>
</html>