{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Passwort zurücksetzen</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Gib hier deine Email-Adresse ein. Wir senden dir einen Link zum Zurücksetzen deines Passwortes
            </small>
        </div>

        <button class="btn btn-primary">Passwort Zurücksetzen</button>
    {{ form_end(requestForm) }}
{% endblock %}
