$max-width: 1000px;

//colors
$color-body-main: #113133;
$color-navi-main: #171717;
$color-navi-secondary: #cccccc;
$color-balance-positive: #0a0a0a;
$color-balance-negative: #0a0a0a;
$color-footer: #5d5d5d;


//distance
$default-m-lr-s: 3px;
$default-m-lr-m: 8px;
$default-m-b-xs: 5px;
$default-m-b-s: 10px;
$default-m-b-m: 20px;
$default-m-b-l: 30px;

//border
$default-border-radius: 8px;

//text
$text-18: 1.8em;
$text-13: 1.3em;
$text-10: 1.0em;
$text-9: 0.9em;
$text-8: 0.8em;
$text-7: 0.7em;
$text-6: 0.6em;

// images sizes
$home-button-img-size: 35px;
$loan-debt-switch-img-size: 25px;
$navi-favicon-size: 82px;
$footer-company-logo-size: 50px;

$shortcut-img-size: calc(12.5% - 20px);
