.event-card {
    border: #0a0800 solid 4px;
    background-color: #ccaa1f;
    padding: 5px;
}

.ss-event-card {
    border: #0a0800 solid 4px;
    background-color: #133413;
    padding: 5px;
}

.ss-container {
    background-image: url('https://res.cloudinary.com/dl4y4cfvs/image/upload/v1699961183/optatio/PngItem_83188_ecwgne.png');
    background-repeat: repeat-x; /* Repeat the image horizontally */
    background-size: auto 30px; /* Set the height of the repeated image */

    .ss-header{
        width: 100%;
        height: 30px;
    }
}