/*--------------------------------------------------------------------------------------------------------------------*/
/*form*/
@import "app";
@import "variables";

.form-area{
    @extend .has-default-border;
    background: $color-form-default-background;
    padding: 10px;
    margin-bottom: 5px;
}

.form-style {
    padding: 10px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: $color-form-field-font-active;
    background-color: $color-form-field-background;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    /*box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);*/
}
.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    /*box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);*/
}

.btn{
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;

    align-items: center;
    -webkit-justify-content: center;

    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: $color-form-field-background;

    &.cancel{
        background-color: $color-form-deny-button;
    }
}

.form-input-field{
    margin-bottom: 4px;
    background-color: $color-form-field-background;

    textarea{
        height: 100px;
    }

}
.form-input-field input::placeholder {
    color: $color-form-field-font-disabled;
}
.form-submit-field{
    margin-top: 10px;
    .btn{
        cursor: pointer;
        margin-right: 10px;
    }
}
.form-submit-area{
    display: flex;
}

.form-header{
    margin-bottom: 10px;
}

.form-input-info-text{
    margin-bottom: 5px;
    font-size: 1.2em;
}

.image-form-row{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.image-form-row-image{
    margin-left: auto;
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
}

.image-form-row-image img{
    width: 30px;
    height: 30px;
}

.hidden{
    display: none;
}
label{
    padding: 4px;
    color: $color-form-field-font-label;
}

.toggle-switch-container{
    width: 100%;
}

//checkboy
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 8px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
$slider-height: 30px;
$slider-button-height: 20px;
.slider {
    margin-left: $default-size-m;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-form-switch-background;
    -webkit-transition: .4s;
    transition: .4s;
    height: $slider-height;
}

.slider:before {
    position: absolute;
    content: "";
    height: $slider-button-height;
    width: $slider-button-height;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $color-form-switch-background-checked;
}

input:focus + .slider {
    box-shadow: 0 0 1px $color-form-switch-background;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*buttons*/
.next-state-button{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .accept-link {
        display: flex;
        flex-direction: row;
        align-items: center;

        //display: inline-block;
        //padding: 10px 20px;
        //background-color: $balance-positive;
        color: black;
        text-decoration: none;
        transition: background-color 0.3s ease;

        border: 2px solid black;
        border-radius: 9px;
        margin-right: $default-size-xs;
        margin-left: $default-size-xs;
    }
}

.next-state-button button {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.1em; /* Increase font size */
    border: 2px solid black;
    border-radius: 9px;
    color: black;
    margin-right: $default-size-xs;
    margin-left: $default-size-xs;
}
.accept{
    background-color: $color-navi-collapses-background; /* Green background */

}
.decline{
    background-color: $color-form-deny-button; /* Green background */
}

.next-state-button img {
    padding: 5px;
    width: 30px;
    margin-right: 10px; /* Add some margin between the image and text */
}

.next-state-button-text{
    margin-right: 10px;
}

select{
    max-width: 100%;
    white-space: normal;

    word-wrap: break-word;
}

/*currency*/
.currency-euro{

}
.currency-text{
}
.currency-cent{

}

.form-errors{
    background-color: $color-footer-text-alternative;
    font-size: $text-13;
    margin-bottom: $default-size-l;
    padding: $default-size-l;
    border: 2px solid $color-footer-text-alternative;
    border-radius: 9px;
}

.form-register-password-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.force-left{
    margin-left: 0px;
}

// upload
.custom-file-label {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding: 9px 12px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #555;
    font-size: 1.6em;
}

/* Hide the default file input */
.custom-file-label + .custom-file-input {
    display: none;
}

.image-area{
    width: 100%;
    max-width: 100%;

    > img{
        max-width: 100%;
        max-height: 1000px;
    }
}

.btn{
    margin-top: 20px;
    font-size: 1.1em;
    padding: 9px 12px;
}