<div{{ attributes }}>
    <div class="mb-5">
        <div class="d-flex align-items-center">
            {% set prioText = 'Nicht Priorisiert' %}
            {% set prioClass = 'btn-secondary' %}
            {% if this.event.desireLists.0.hasPriority %}
                {% set prioText = 'Priorisiert' %}
                {% set prioClass = 'btn-success' %}
            {% endif %}
            <button
                    data-action="live#action"
                    data-live-action-param="togglePriority"
                    class="{{ prioClass }} no-uppercase btn btn-outline-light btn-small ">
                <i class="fa-sort fa-solid fa-2x btn-icon-sm"></i><br>
                <span class="btn-text">{{ prioText }}</span>
            </button>
            <a href="{{ path('app_desire_create', {'desireList': event.desireLists.0.id}) }}" class="no-uppercase btn btn-success btn-small ">
                <i class="fa-solid fa-plus btn-icon-sm"></i>
                <span class="btn-text">Neuer Wunsch</span>
            </a>
        </div>
    </div>
</div>