<div{{ attributes }}>
    <div class="ss-pick-event">
        <div class="ss-pick-event-container">
            <div class="pick-button-row"><button class="pickButton" id="pickButton" data-name="{{ this.secretName }}">Wichtel ziehen</button></div>

            <div class="celebration hidden">
                <div class="snow-container">
                    <!-- This container will hold the snow GIF -->
                    <div class="hat-message hidden">
                        The sorting hat says:
                    </div>
                    <div class="message hidden">
                        <span class="name"></span>
                    </div>
                    <img class="hat hidden"
                         src="https://res.cloudinary.com/dl4y4cfvs/image/upload/v1700089607/optatio/heat_vyjtbz.gif">
                    {#                    https://res.cloudinary.com/dl4y4cfvs/image/upload/v1700090931/optatio/hat2_fw7ol8.gif #}
                    <div class="final hidden">
                        <button class="backButton" id="backButton" data-secret="{{ this.secretUrl}}" data-link="{{ this.backUrl}}">OK</button>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<script>
    document.getElementById('pickButton').addEventListener('click', () => {
        const pickedUser = document.getElementById('pickButton').getAttribute('data-name'); // Replace with the name of the picked user
        const pickButton = document.getElementById('pickButton');
        const celebrationContainer = document.querySelector('.celebration');
        const hatContainer = document.querySelector('.hat');
        const hatMessageContainer = document.querySelector('.hat-message');
        const nameSpan = document.querySelector('.name');
        const messageContainer = document.querySelector('.message');
        const finalContainer = document.querySelector('.final');

        pickButton.style.display = 'none'; // Hide the pick button

        celebrationContainer.classList.remove('hidden');
        setTimeout(() => {
            hatContainer.classList.remove('hidden');
            setTimeout(() => {
                hatMessageContainer.classList.remove('hidden');
                setTimeout(() => {
                    messageContainer.classList.remove('hidden');
                    setTimeout(() => {
                        const letters = pickedUser.split('');
                        let index = 0;
                        const revealName = setInterval(() => {
                            if (index <= letters.length) {
                                nameSpan.textContent = pickedUser.slice(0, index);
                                index++;
                            } else {
                                clearInterval(revealName);
                                setTimeout(() => {
                                    finalContainer.classList.remove('hidden');
                                    fetch(document.getElementById('backButton').getAttribute('data-secret'))
                                        .then(function(response) {
                                            if (!response.ok) {
                                                throw new Error('Network response was not ok');
                                            }
                                            // Parse the response as JSON
                                            return response.json();
                                        })
                                        .then(function(data) {
                                            // Process the JSON data
                                            console.log(data);
                                        })
                                        .catch(function(error) {
                                            // Handle errors
                                            console.error('There was a problem with the fetch operation:', error.message);
                                        });
                                }, 1500);
                            }
                        }, 500); // letter steps
                    }, 500);
                }, 3000); // name presentation starts
            }, 1000); // text appears
        }, 1000); // het appears
    });

    const okButton = document.getElementById('backButton');
    okButton.addEventListener('click', () => {
        window.location.replace(document.getElementById('backButton').getAttribute('data-link'))
    });

</script>
