{% extends 'base.html.twig' %}

{% block title %}Event Dashboard{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Events
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">
        </div>
    </div>

    <div class="content-body">
        {% for event in secretSantaEvents %}
            {{ component('SecretSantaComponent', { event: event, user: user }) }}
        {% endfor %}
        {% for event in events %}
            {{ component('EventComponent', { event: event, user: user, hasEditButton: true }) }}
        {% endfor %}
    </div>
{% endblock %}
